body {
    font-size: 2vw;
    font-family: "Peddana", serif;
    color: #515A5A ;
    padding: 15px;
    height: 95px;
    position: relative;
  }

a {
    font-size: 2vw;
    text-transform: uppercase;
    font-family: "Peddana", serif;
}



.clock {
    border: solid 3px #333;
    width:200px;
    height:200px;
    margin:auto;
    position: relative;
}

.hand {
    position: absolute;
    bottom: 100px;
    transform: translateX(100px);
    transform-origin: bottom center;
}

.minute {
    width: 3px;
    background-color: #333;
    height: 90px;
}

.hour {
    width: 5px;
    background-color: #333;
    height: 60px;
}

.second {
    width: 1px;
    background-color: rgb(191, 22, 22);
    height: 90px;
}

.tick {
    position: absolute;
    bottom: 100px;
    transform: translateX(100px);
    transform-origin: bottom left;
    height:90px;
}

.line {
    position: absolute;
    top: 0px;
    height: 10px;
    width: 2px;
    background-color: #999;
}

.one {
    transform: translateX(100px) rotate(30deg);
}

.two {
    transform: translateX(100px) rotate(60deg);
}

.three {
    transform: translateX(100px) rotate(90deg);
}

.four {
    transform: translateX(100px) rotate(120deg);
}

.five {
    transform: translateX(100px) rotate(150deg);
}

.six {
    transform: translateX(100px) rotate(180deg);
}

.seven {
    transform: translateX(100px) rotate(210deg);
}

.eight {
    transform: translateX(100px) rotate(240deg);
}

.nine {
    transform: translateX(100px) rotate(270deg);
}

.ten {
    transform: translateX(100px) rotate(300deg);
}

.eleven {
    transform: translateX(100px) rotate(330deg);
}

.am-pm {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:10px;
    width: 100%;
    position: absolute;
    bottom:20px;
    transform-origin: bottom center;
}



/* unvisited link */
a:link {
    color:black;
  }
  
/* visited link */
a:visited {
color: black;
}

/* mouse over link */
a:hover {
color:coral;
}

/* selected link */
a:active {
color: blue;
}